<?xml version="1.0"?>
<model>
  <name>PX4Vision with Realsense Camera</name>
  <version>1.0</version>
  <sdf version='1.5'>px4vision_realsense.sdf</sdf>

  <author>
   <name>Suryansh Aryan</name>
   <email></email>
  </author>

  <description>
    This is a model of the PX4Vision Quadrotor with a single forward facing realsense camera.
  </description>
</model>